<template>
  <div style="text-align: center;">
    <!-- <NuxtWelcome /> -->
    <title>GavoFoods</title>
    <!-- <a href="https://gavofoods.co.ke" target="_blank">
      <nuxt-img preload loading="lazy" src="/logogavo.webp" sizes="sm:80vw md:30vw lg:200px" />
    </a>
  </div>
  <div style="text-align: center;">
    <h3>
      <i>CDN</i>
    </h3> -->
  </div>
</template>
